body    {
    background-color: mintcream;
    font-family: Helvetica, sans-serif;
}

#content    {
    width: 60%;
    height: fit-content;
    background-color: rgb(183, 199, 199);
    margin: 0 auto 0;
}

#menu {
    list-style-type: none;
    padding: 0;
    text-align: center;
    padding-bottom: 20px;
}

ol  {
    padding-bottom: 20px;
}

h1  {
    padding: 20px 0;
    text-align: center;

}

#banner {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

h2, #description {
    text-align: center;
}